<li class="d-flex justify-content-between">
    <div class="form-check">
      <label for="" class="form-check-label" [ngClass]="cssStrike">
        <!-- to bind data: javascript property of element inside [] -->
        <!-- to bind event: event name inside () -->
        <!-- [attr.data-index] custom attribute -->
        <!-- $event to pass the event  -->
        <input 
            type="checkbox" 
            class="checkbox" 
            [checked]="fulfilled" 
            (click)="toggleFulfilled()"> {{wishText}}
      </label>
    </div>

    <div>
      <button 
      type="button" 
      class="btn-close"
      (click)="removeWish()"
      ></button>
    </div>
  </li>
