<div class="container">
  <div *ngIf="wishes.length === 0; else showItems">
    There are no wishes to display.
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let wish of wishes; index as ii">
        <div class="form-check">
          <label for="" class="form-check-label">
            <!-- to bind data: javascript property of element inside [] -->
             <!-- to bind event: event name inside () -->
            <!-- [attr.data-index] custom attribute -->
            <!-- $event to pass the event  -->
            <input 
            type="checkbox" 
            class="checkbox" 
            [checked]="wish.isCompleted" 
            [attr.data-index]="ii"
            (click)="toggleItem(wish)"
            > {{wish.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>  
</div>