<div class="container">
  
  <!-- add-wish-form is child component and has output event addWish that emits WishItem -->
  <add-wish-form
  (addWish)="wishes.push($event)"
  ></add-wish-form>

  <div class="row mt-3">
    <wish-filter
    [(filter)]="filter"
    ></wish-filter>
  </div>

  <div class="row mt-3">
    <!-- wish-list is child component and has input wishes bound to visibleItems -->
    <div class="col-sm-4">
      <wish-list
      [wishes]="wishes.filter(filter)"
      ></wish-list>
    </div>
  </div>
</div>